<!DOCTYPE html>
<!-- Default Layout Import-->
<html>
<!-- lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/defaultLayout}" layout:fragment="Content"> -->

<head>
  <title>Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- inline JS 영역-->
  <!--<script th:inline="javascript" type="text/javascript">
    $(document).ready(() => {
      // alert("Login 페이지가 시작됩니다.");
      $('input[name="test"]').off('click').on('click', function(){
        $.ajax({
            type : 'post',           // 타입 (get, post, put 등등)
            url : '/login/manage/signIn',           // 요청할 서버url
            dataType : 'text',       // 데이터 타입 (html, xml, json, text 등등)
            data : JSON.stringify({  // 보낼 데이터 (Object , String, Array)
              "loginId" : 'admin',
              "pw" : '1234'
            }),
            success : function(result) { // 결과 성공 콜백함수
                console.log(result);
            },
            error : function(request, status, error) { // 결과 에러 콜백함수
                console.log(error)
            }
        })
      })
    });

  </script>-->
</head>

<body>
  <form action="/login/manage/signIn" method="post">
    <input type="text" id="loginId" name="loginId" autofocus="autofocus" /> <br />
    <input type="password" id="pw" name="pw" /> <br />
    <input type="submit" value="Login" />
  </form>
  <input type="button" name="test" value="test">
</body>

</html>