<!DOCTYPE html>
<!-- Default Layout Import-->
<html>
<!-- lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/defaultLayout}" layout:fragment="Content"> -->

<head>
    <title>회원가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- inline JS 영역-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(() => {
            alert("회원가입 페이지가 시작됩니다.");
        });
    </script>
</head>
    <body>

        <span style="color: red;">CreateId</span>

        <div>
            <div>id : <input type="text" id="id"></div>
            <div>pw : <input type="text" id="pw"></div>
            <div>email : <input type="text" id="email"></div>
            <div><input type="button" value="CreateId" name="create"></div>
        </div>

        <script>
            $('input[name="create"]').off('click').on('click', function(){
                data = {
                    id : $('#id').val()
                    , pw : $('#pw').val()
                    , email : $('#email').val()
                }
                $.ajax({ // 컨트롤러와 통신	    			
                    type: 'POST',
                    url: "/createId",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=UTF-8",
                    success: function(data) {					
                        alert("성공");
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("ERROR : " + textStatus + " : " + errorThrown);
                    }		
                });
            })
        </script>
    </body>
</html>