<table>
    <thead>
        <tr>
            <th>제목</th>
            <th>기간</th>
            <th>금액</th>
            <th>문의안내</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="culture : ${getCultureList}">
            <td th:text="${culture.title}"></td>
            <td th:text="${culture.period}"></td>
            <td th:text="${culture.charge}"></td>
            <td th:text="${culture.contact_point}"></td>
            <td th:text="${culture.url}"></td>
        </tr>
    </tbody>
</table>